h1 {
  text-align: center;
  font-size: 48 px;
  font-family: monospace;
}

p {
  margin-top: 0;
  text-align: center;
  font-size: 24 px;
  font-family: monospace;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 400;
  padding: 30px;
}
footer {
  text-align: center;
  font-family: monospace;
}
.subtitle {
  font-size: 36px;
  font-weight: 900;
  line-height: 1.5;
}
.container {
  margin: 0 auto;
}

.name {
  color: rgb(249, 3, 204);
}
