h1 {
  text-align: center;
  font-size: 48 px;
  font-family: monospace;
}

p {
  text-align: center;
  font-size: 24 px;
  font-family: monospace;
}

.container {
  margin: 0 auto;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 400;
  padding: 30px;
}
